<app-header titulo="Alert"></app-header>

<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="siguiente"
      defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-button (click)="presentAlert()" expanded="block" color="primary">
    ver Alert
</ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expanded="block" color="secondary">
    ver Alert multiples botones
</ion-button>
  <ion-button (click)="presentAlertPrompt()" expanded="block" color="secondary">
    ver Alert promt
</ion-button>
</ion-content>
