<app-header titulo="Cards"></app-header>

<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" text="siguiente"
      defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
 
<ion-card>
  <ion-item href="trejojimenezrobertocarlos@gmail.com" class="ion-activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Card Link Item 1 activated</ion-label>
  </ion-item>
</ion-card>

</ion-content>